<template>
    <div class="bg-light q-px-xs-lg">
        <div class="row constrain q-py-xl">
          <div class="col-xs-12 col-md-6 q-md-pr-lg">
            <q-img src="~assets/map.svg" alt="pictures" />
          </div>
          <div class="col-xs-12 col-md-6 q-pt-xl q-pl-md-lg self-end">
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutDenomination')}}:</span> Awaete <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutLanguage')}}:</span> Asurini, família Tupi-Guarani, tronco Tupi <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutIndigenousLand')}}:</span> Parque Indígena Kwatinemo <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutArea')}}:</span> 387.834 ha. (ISA,2016) <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutStatus')}}:</span> Demarcada e Homologada <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutUnit')}}:</span> Altamira/PA <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutBiome')}}:</span> Amazônia <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutBasin')}}:</span> Xingu <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutVegetal')}}:</span> Floresta Ombrófila Aberta (96.25 %) e Floresta Ombrófila Densa (3.75 %) <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutIndiginousGroup')}}:</span> Kwatinema, Itaaka, Gavião, Muyryna e Janeraka. <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutPopulation')}}:</span> Média de 250 PESSOAS <br />
            <span class="text-weight-bold text-uppercase">{{$t('about.pageTitleAboutKnowledge')}}:</span> Cestaria, Adornos corporais, Cerâmica, Marcenaria, Grafismo, Construção, Instrumentos Musicais, culturas Alimentares, Medicinais e Cosmologicas.<br />
          </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Map'
}
</script>
